<a href="https://colab.research.google.com/github/gautampatil01/Recommendor-system/blob/main/Recommender_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
#https://api.themoviedb.org/3/movie/168259?api_key=62e6915f9db9a03352dc663b7e1449f4

In [162]:
import pandas as pd
import numpy as np
import nltk

from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

import warnings
warnings.filterwarnings('ignore')

In [97]:
!git clone https://github.com/gautampatil01/Recommendor-system

fatal: destination path 'Recommendor-system' already exists and is not an empty directory.

In [98]:
!ls

drive  Recommendor-system  sample_data	tmdb_movies_data.csv

In [99]:
netflix  =pd.read_csv('/content/Recommendor-system/tmdb_movies_data.csv')
df = netflix.copy()

In [100]:
df.head(2)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08

In [101]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [102]:
df = df[['id', 'original_title', 'cast', 'director', 'keywords', 'overview', 'genres']]

In [103]:
df.head(2)

,id,original_title,cast,director,keywords,overview,genres
0,135397,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller
1,76341,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|Thriller

In [104]:
df.shape

(10866, 7)

In [105]:
df.isnull().sum()

id                   0
original_title       0
cast                76
director            44
keywords          1493
overview             4
genres              23
dtype: int64

In [106]:
df.dropna(inplace = True)

In [107]:
def splitter(column):
  df[column] = df[column].apply(lambda x: x.split('|'))

In [108]:
splitter('cast')
df.cast

0        [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1        [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2        [Shailene Woodley, Theo James, Kate Winslet, A...
3        [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4        [Vin Diesel, Paul Walker, Jason Statham, Miche...
                               ...
10861    [Michael Hynson, Robert August, Lord 'Tally Ho...
10862    [James Garner, Eva Marie Saint, Yves Montand, ...
10863    [Innokentiy Smoktunovskiy, Oleg Efremov, Georg...
10864    [Tatsuya Mihashi, Akiko Wakabayashi, Mie Hama,...
10865    [Harold P. Warren, Tom Neyman, John Reynolds, ...
Name: cast, Length: 9306, dtype: object

In [109]:
splitter('director')
df.director

0           [Colin Trevorrow]
1             [George Miller]
2          [Robert Schwentke]
3               [J.J. Abrams]
4                 [James Wan]
                 ...
10861           [Bruce Brown]
10862    [John Frankenheimer]
10863        [Eldar Ryazanov]
10864           [Woody Allen]
10865      [Harold P. Warren]
Name: director, Length: 9306, dtype: object

In [110]:
splitter('keywords')
df.keywords

0        [monster, dna, tyrannosaurus rex, velociraptor...
1        [future, chase, post-apocalyptic, dystopia, au...
2        [based on novel, revolution, dystopia, sequel,...
3              [android, spaceship, jedi, space opera, 3d]
4                [car race, speed, revenge, suspense, car]
                               ...
10861                         [surfer, surfboard, surfing]
10862                        [car race, racing, formula 1]
10863                         [car, trolley, stealing car]
10864                                              [spoof]
10865            [fire, gun, drive, sacrifice, flashlight]
Name: keywords, Length: 9306, dtype: object

In [111]:
splitter('genres')
df.genres

0        [Action, Adventure, Science Fiction, Thriller]
1        [Action, Adventure, Science Fiction, Thriller]
2                [Adventure, Science Fiction, Thriller]
3         [Action, Adventure, Science Fiction, Fantasy]
4                             [Action, Crime, Thriller]
                              ...
10861                                     [Documentary]
10862                        [Action, Adventure, Drama]
10863                                 [Mystery, Comedy]
10864                                  [Action, Comedy]
10865                                          [Horror]
Name: genres, Length: 9306, dtype: object

In [112]:
df['overview'] = df['overview'].apply(lambda x: x.split(' '))

In [118]:
df.overview[0]

['Twenty-two',
 'years',
 'after',
 'the',
 'events',
 'of',
 'Jurassic',
 'Park,',
 'Isla',
 'Nublar',
 'now',
 'features',
 'a',
 'fully',
 'functioning',
 'dinosaur',
 'theme',
 'park,',
 'Jurassic',
 'World,',
 'as',
 'originally',
 'envisioned',
 'by',
 'John',
 'Hammond.']

In [119]:
df['cast'] = df['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
df['keywords'] = df['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
df['genres'] = df['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
df['director'] = df['director'].apply(lambda x: [i.replace(" ", "") for i in x])

In [115]:
df.cast

0        [ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...
1        [TomHardy, CharlizeTheron, HughKeays-Byrne, Ni...
2        [ShaileneWoodley, TheoJames, KateWinslet, Anse...
3        [HarrisonFord, MarkHamill, CarrieFisher, AdamD...
4        [VinDiesel, PaulWalker, JasonStatham, Michelle...
                               ...
10861    [MichaelHynson, RobertAugust, Lord'TallyHo'Ble...
10862    [JamesGarner, EvaMarieSaint, YvesMontand, Tosh...
10863    [InnokentiySmoktunovskiy, OlegEfremov, GeorgiZ...
10864    [TatsuyaMihashi, AkikoWakabayashi, MieHama, Jo...
10865    [HaroldP.Warren, TomNeyman, JohnReynolds, Dian...
Name: cast, Length: 9306, dtype: object

In [121]:
df.head(1)

,id,original_title,cast,director,keywords,overview,genres
0,135397,Jurassic World,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...",[ColinTrevorrow],"[monster, dna, tyrannosaurusrex, velociraptor,...","[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, ScienceFiction, Thriller]"

In [122]:
df['tags'] = df['cast'] + df['director'] + df['keywords'] + df['overview'] + df['genres']

In [124]:
df.tags[0]

['ChrisPratt',
 'BryceDallasHoward',
 'IrrfanKhan',
 "VincentD'Onofrio",
 'NickRobinson',
 'ColinTrevorrow',
 'monster',
 'dna',
 'tyrannosaurusrex',
 'velociraptor',
 'island',
 'Twenty-two',
 'years',
 'after',
 'the',
 'events',
 'of',
 'Jurassic',
 'Park,',
 'Isla',
 'Nublar',
 'now',
 'features',
 'a',
 'fully',
 'functioning',
 'dinosaur',
 'theme',
 'park,',
 'Jurassic',
 'World,',
 'as',
 'originally',
 'envisioned',
 'by',
 'John',
 'Hammond.',
 'Action',
 'Adventure',
 'ScienceFiction',
 'Thriller']

In [126]:
df['tags'] = df['tags'].apply(lambda x: ' '.join(x))

In [128]:
df['tags'][0]

"ChrisPratt BryceDallasHoward IrrfanKhan VincentD'Onofrio NickRobinson ColinTrevorrow monster dna tyrannosaurusrex velociraptor island Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond. Action Adventure ScienceFiction Thriller"

In [148]:
ps = PorterStemmer()

In [149]:
def stemming(text):
  li = []
  for i in text.split():
    li.append(ps.stem(i))
  return ' '.join(li)

In [150]:
df['tags'] = df['tags'].apply(stemming)

In [152]:
df['tags'][0]

"chrispratt brycedallashoward irrfankhan vincentd'onofrio nickrobinson colintrevorrow monster dna tyrannosaurusrex velociraptor island twenty-two year after the event of jurass park, isla nublar now featur a fulli function dinosaur theme park, jurass world, as origin envis by john hammond. action adventur sciencefict thriller"

In [157]:
cv = CountVectorizer()

In [158]:
vectors = cv.fit_transform(df['tags']).toarray()

In [160]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [161]:
cv.get_feature_names_out().tolist()

['00',
 '000',
 '000km',
 '000th',
 '007',
 '01',
 '05pm',
 '07am',
 '10',
 '100',
 '1000',
 '1001',
 '100th',
 '101',
 '103',
 '108',
 '10th',
 '11',
 '1138',
 '114',
 '117',
 '1183',
 '119',
 '11th',
 '12',
 '1200',
 '1215',
 '125',
 '1250',
 '125th',
 '127',
 '12th',
 '12thcenturi',
 '13',
 '130',
 '1300',
 '13th',
 '14',
 '140',
 '1408',
 '142',
 '1429',
 '1475',
 '148',
 '1492',
 '14enn',
 '14pm',
 '14th',
 '15',
 '150',
 '150000',
 '150th',
 '1536',
 '1562',
 '1564',
 '15th',
 '15thcenturi',
 '15yr',
 '16',
 '1600',
 '1600s',
 '161',
 '1610',
 '1630s',
 '165',
 '1671',
 '168',
 '1681',
 '1691',
 '1692',
 '16mm',
 '16th',
 '16thcenturi',
 '17',
 '1700',
 '1700s',
 '174',
 '1787',
 '17th',
 '17thcenturi',
 '18',
 '1800',
 '1800s',
 '1812',
 '1814',
 '1816',
 '1818',
 '1820',
 '1820s',
 '1824',
 '1825',
 '183',
 '1830',
 '1836',
 '1839',
 '1840',
 '1845',
 '1846',
 '1850',
 '1851',
 '1857',
 '1860',
 '1863',
 '1865',
 '1868',
 '187',
 '1873',
 '1875',
 '1879',
 '1880',
 '1880s',
 '1885',
 '1889',
 '1890',
 '1892',
 '1893',
 '1897',
 '1898',
 '18th',
 '18thcenturi',
 '19',
 '1900',
 '1900s',
 '1902',
 '1904',
 '1909',
 '191',
 '1910',
 '1912',
 '1913',
 '1914',
 '1914Ã¢',
 '1916',
 '1917',
 '1918',
 '1919',
 '192',
 '1920',
 '1920s',
 '1920Ã¢',
 '1921',
 '1922',
 '1923',
 '1924',
 '1926',
 '1927',
 '1929',
 '1930',
 '1930s',
 '1930Ã¢',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1963Ã¢',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1970Ã¢',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1980Ã¢',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '19thcenturi',
 '1felco',
 '1st',
 '1Ã¢',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2024',
 '2025',
 '2027',
 '2028',
 '2029',
 '2032',
 '2035',
 '2038',
 '2039',
 '2047',
 '2055',
 '2058',
 '2074',
 '2078',
 '2081',
 '2087',
 '2092',
 '2095',
 '20s',
 '20th',
 '21',
 '212th',
 '2159',
 '217095',
 '21st',
 '22',
 '220',
 '2247',
 '2257',
 '22nd',
 '23',
 '23rd',
 '24',
 '240',
 '2455',
 '2470',
 '247Ã¢',
 '24th',
 '25',
 '250',
 '2505',
 '2509',
 '250cc',
 '25th',
 '26',
 '27',
 '2707',
 '28',
 '280',
 '28th',
 '29',
 '2nd',
 '2Ã¢',
 '30',
 '300',
 '3000',
 '308th',
 '30s',
 '30th',
 '31',
 '310lb',
 '32',
 '33',
 '34',
 '344m',
 '35',
 '350',
 '37',
 '38',
 '39',
 '3d',
 '3danim',
 '3pm',
 '3po',
 '3rd',
 '3Ã¢',
 '40',
 '400',
 '4000',
 '40s',
 '40th',
 '41',
 '42',
 '429',
 '436',
 '44',
 '45',
 '450',
 '45th',
 '46',
 '47',
 '47th',
 '48',
 '480',
 '49',
 '4chan',
 '4kids',
 '4th',
 '50',
 '500',
 '5000',
 '50cent',
 '50th',
 '51',
 '51st',
 '52',
 '53',
 '533',
 '54',
 '55',
 '57th',
 '58',
 '60',
 '600',
 '6000',
 '60s',
 '60Ã¢',
 '62',
 '63',
 '64',
 '643',
 '65',
 '65k',
 '66',
 '666',
 '66th',
 '68',
 '69',
 '6b',
 '6th',
 '70',
 '700',
 '701',
 '707',
 '70mm',
 '70s',
 '70th',
 '71',
 '72',
 '73',
 '731',
 '747',
 '74th',
 '75',
 '750',
 '7500',
 '75th',
 '76',
 '77th',
 '78',
 '79',
 '7th',
 '80',
 '800',
 '80s',
 '80sunderground',
 '80Ã¢',
 '81',
 '83',
 '84',
 '85',
 '85th',
 '86',
 '87',
 '88',
 '8km',
 '8th',
 '90',
 '9000',
 '900lb',
 '90210',
 '90s',
 '911',
 '922',
 '92nd',
 '93',
 '937',
 '94',
 '95',
 '95er',
 '96',
 '98',
 '99',
 '9th',
 '9to5',
 '_stakeout_',
 'aa',
 'aaaah',
 'aadland',
 'aaliyah',
 'aam',
 'aamir',
 'aamirkhan',
 'aang',
 'aanjjansrivastav',
 'aaranthoma',
 'aaron',
 'aaronabram',
 'aaronashmor',
 'aaronbarr',
 'aaronblais',
 'aaronburn',
 'aarondougla',
 'aaroneckhart',
 'aaronhann',
 'aaronharvey',
 'aaronhugh',
 'aaronjefferi',
 'aaronkatz',
 'aaronkeel',
 'aaronkwok',
 'aaronmilo',
 'aaronmoorhead',
 'aaronmurphi',
 'aaronnorri',
 'aarono',
 'aaronpaul',
 'aaronpedersen',
 'aaronpool',
 'aaronringhiser',
 'aaronruel',
 'aaronschneid',
 'aaronschwartz',
 'aaronseelman',
 'aaronseltz',
 'aaronspann',
 'aaronstanford',
 'aaronstaton',
 'aaronswartz',
 'aarontaylor',
 'aarontveit',
 'aaronwolff',
 'aaronwoodley',
 'aaronyoo',
 'aartimann',
 'aashadavi',
 'aasifmandvi',
 'aba',
 'aback',
 'abaddon',
 'abagnal',
 'abandon',
 'abandoned',
 'abandonment',
 'abb',
 'abba',
 'abbasalibhaiburmawalla',
 'abbaskiarostami',
 'abbass',
 'abberlin',
 'abbey',
 'abbeydigregorio',
 'abbi',
 'abbie',
 'abbiecornish',
 'abbiesalt',
 'abbot',
 'abbott',
 'abby',
 'abc',
 'abdelhafidmetalsi',
 'abdicates',
 'abdication',
 'abdomin',
 'abduct',
 'abducted',
 'abduction',
 'abductions',
 'abductor',
 'abductors',
 'abdulrahmanbarman',
 'abe',
 'abebres',
 'abel',
 'abelferrara',
 'abelferri',
 'abeltrÃ£',
 'abern',
 'abernathi',
 'abernathy',
 'abesylvia',
 'abevigoda',
 'abhishekbachchan',
 'abhors',
 'abi',
 'abianvainstein',
 'abid',
 'abigail',
 'abigailbianca',
 'abigailbreslin',
 'abigailcanton',
 'abigailchu',
 'abigailclayton',
 'abigailcruttenden',
 'abigailhardingham',
 'abigailhargrov',
 'abigailrichi',
 'abigailschrad',
 'abigailspenc',
 'abigailston',
 'abil',
 'abilities',
 'ability',
 'abject',
 'abkarian',
 'abl',
 'able',
 'ableman',
 'abler',
 'ablewanamakok',
 'abli',
 'abner',
 'abnorm',
 'abo',
 'aboard',
 'abobo',
 'abod',
 'abogliano',
 'abolish',
 'abolitionist',
 'abomin',
 'abomination',
 'aborigin',
 'aborigines',
 'abort',
 'abortion',
 'abortionist',
 'abound',
 'about',
 'abov',
 'above',
 'abra',
 'abracadabra',
 'abraham',
 'abrahamattah',
 'abrahambenrubi',
 'abrahams',
 'abram',
 'abras',
 'abrasive',
 'abroad',
 'abrupt',
 'abruptli',
 'abs',
 'abscond',
 'absenc',
 'absence',
 'absences',
 'absent',
 'absentia',
 'absentmoth',
 'abshire',
 'absolom',
 'absolon',
 'absolut',
 'absolv',
 'absorb',
 'absorpt',
 'abstemi',
 'abstin',
 'abstract',
 'absurd',
 'abu',
 'abund',
 'abunga',
 'abus',
 'abuse',
 'abused',
 'abusi',
 'abusing',
 'abusive',
 'ac',
 'aca',
 'academ',
 'academi',
 'academia',
 'academics',
 'academies',
 'academy',
 'acc',
 'acceler',
 'accent',
 'accept',
 'acceptableÃ¢',
 'acceptance',
 'accepted',
 'acceptingdeath',
 'accepts',
 'access',
 'accessori',
 'accessories',
 'accessory',
 'accid',
 'accident',
 'accidental',
 'accidentalcrim',
 'accidentali',
 'accidentallov',
 'accidentally',
 'accidents',
 'acclaim',
 'acclaimed',
 'acclim',
 'accolad',
 'accommod',
 'accompani',
 'accomplic',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accord',
 'accordian',
 'accordion',
 'accorsi',
 'account',
 'accountant',
 'accounts',
 'accra',
 'accru',
 'accumul',
 'accur',
 'accuraci',
 'accuracy',
 'accurate',
 'accurs',
 'accus',
 'accusatori',
 'accused',
 'accuser',
 'accustom',
 'ace',
 'acefrehley',
 'acerb',
 'ach',
 'achard',
 'achiev',
 'achievement',
 'achievements',
 'achil',
 'achilles',
 'achm',
 'acid',
 'acker',
 'acknowledg',
 'acm',
 'aconchitaalonso',
 'acoust',
 'acqua',
 'acquaint',
 'acquaintance',
 'acquiesce',
 'acquir',
 'acquires',
 'acquisition',
 'acquit',
 'acquitted',
 'acr',
 'acrobat',
 'acronym',
 'across',
 'act',
 'acting',
 'action',
 'actions',
 'activ',
 'activism',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actu',
 'actual',
 'acute',
 'ad',
 'ada',
 'adagio',
 'adair',
 'adalin',
 'adam',
 'adamaalderk',
 'adamalexi',
 'adamarkin',
 'adambaldwin',
 'adambarnett',
 'adambeach',
 'adambeckenbaugh',
 'adamboyd',
 'adambrodi',
 'adambrook',
 'adambutch',
 'adamcamara',
 'adamcampbel',
 'adamcarolla',
 'adamcheng',
 'adamchristi',
 'adamclayton',
 'adamcroasdel',
 'adamcronheim',
 'adamcurti',
 'adamdavidthompson',
 'adamdeacon',
 'adamdimarco',
 'adamdoench',
 'adamdriv',
 'adamegyptmortim',
 'adamelliot',
 'adamfristo',
 'adamg',
 'adamgarcia',
 'adamgibb',
 'adamgierasch',
 'adamgoldberg',
 'adamgreen',
 'adamgrossman',
 'adamhann',
 'adamharrington',
 'adamherschman',
 'adamhick',
 'adamhorovitz',
 'adamhuss',
 'adamjam',
 'adamjohnson',
 'adamkaufman',
 'adamkulbersh',
 'adamlavorgna',
 'adamlewint',
 'adamlong',
 'adammacdonald',
 'adammarcu',
 'adammason',
 'adammckay',
 'adamneutzsky',
 'adamo',
 'adamoruggiero',
 'adamp',
 'adampasc',
 'adamrayn',
 'adamrehmei',
 'adamrifkin',
 'adamrobitel',
 'adamrodrÃ£',
 'adamryen',
 'adams',
 'adamsandl',
 'adamsavag',
 'adamschindl',
 'adamscott',
 'adamsessa',
 'adamshankman',
 'adamshapiro',
 'adamshor',
 'adamson',
 'adamthomaswright',
 'adamtomei',
 'adamtres',
 'adamwest',
 'adamwingard',
 'adamzolotin',
 'adanjodorowski',
 'adap',
 'adapt',
 'adaptation',
 'adaptions',
 'adarbeck',
 'adarcqu',
 'adaÃ£',
 'adcusack',
 'add',
 'addam',
 'adderal',
 'addi',
 'addict',
 'addicted',
 'addiction',
 'addictions',
 'addicts',
 'addisontimlin',
 'addit',
 'addition',
 'addl',
 'address',
 'addymil',
 'adeelakhtar',
 'adel',
 'adela',
 'adelaid',
 'adelaideclemen',
 'adelaidekan',
 'adele',
 'adeperooduy',
 'adept',
 'adeptli',
 'adetokumbohm',
 'adewaleakinnuoye',
 'adher',
 'adilahbarn',
 'adilhussain',
 'adischnal',
 'adjewa',
 'adjourn',
 'adjust',
 'adjusting',
 'adjustment',
 'adkins',
 'adleman',
 'adler',
 'adm',
 'administ',
 'administr',
 'administration',
 'admir',
 'admiral',
 'admired',
 'admirer',
 'admirers',
 'admiss',
 'admist',
 'admit',
 'admits',
 'admitt',
 'admitted',
 'admonit',
 'adolesc',
 'adolescence',
 'adolescent',
 'adolescentboy',
 'adolescents',
 'adolescÃ£Âªncia',
 'adolf',
 'adolfhitl',
 'adolfo',
 'adolfoc',
 'adolfoquinon',
 'adolph',
 'adolphcaesar',
 'adoni',
 'adopt',
 'adopted',
 'adoption',
 'adoptivefath',
 'adoptivemoth',
 'ador',
 'adores',
 'adorn',
 'adrea',
 'adren',
 'adrenalin',
 'adrenaline',
 'adriaallu',
 'adrian',
 'adriana',
 'adrianabarraza',
 'adrianapag',
 'adrianbouchet',
 'adriandunbar',
 'adrianedmondson',
 'adriang',
 'adriangonzalez',
 'adriangreni',
 'adriangrunberg',
 'adrianguillett',
 'adrianholm',
 'adrianlest',
 'adrianlyn',
 'adrianmaben',
 'adrianmoat',
 'adriannepalicki',
 'adrianogiannini',
 'adrianpasdar',
 'adrianpaul',
 'adrianpetriw',
 'adrianpow',
 'adrianrawlin',
 'adrianscarborough',
 'adrianshergold',
 'adriansmith',
 'adrianwebst',
 'adrianzm',
 'adrienbrodi',
 'adrienjolivet',
 'adrienn',
 'adriennebailon',
 'adriennebarbeau',
 'adriennecorri',
 'adriennek',
 'adriennepick',
 'adrienneshaw',
 'adrienneshelli',
 'adrift',
 'adriÃ£',
 'adult',
 'adultanim',
 'adultasachild',
 'adulter',
 'adulteri',
 'adultery',
 'adulthood',
 'adults',
 'advanc',
 'advancement',
 'advances',
 'advantag',
 'advantage',
 'advent',
 'adventur',
 'adventure',
 'adventurer',
 'adventurers',
 'adventures',
 'adventuresom',
 'adventurous',
 'advers',
 'adversari',
 'adversaries',
 'adversaryÃ¢',
 'advertis',
 'advertised',
 'advertisement',
 'advertisements',
 'advertising',
 'advertisingexecut',
 'advertisingexpert',
 'advic',
 'advice',
 'advis',
 'adviser',
 'advisers',
 'advisor',
 'advisori',
 'advisors',
 'advoc',
 'advocaci',
 'adysÃ¥',
 'adÃ£',
 'ae86',
 'aef',
 'aegi',
 'aerial',
 'aerialist',
 'aerialshot',
 ...]